ul.body{
    height: 210px;
    width: 100%;
    list-style: none;
    white-space: nowrap;
    background: linear-gradient(103.22deg, #AE67FA -13.86%, #f7ac83 99.55%);
    
}
ul.body li{
    display: inline-block;
    vertical-align: middle;
    img{
        margin-left: 120px;
        height: 200px;
    }
    p{
        font-family: var(--font-family);
        padding-left: 20px;
        color:white;
        display:table-cell;
        font-size: 30px;
        font-weight: 700;
        vertical-align: middle;

    }
    Button{
        justify-content: center;
        align-items: center;
        display:table-cell;
        vertical-align: middle;
        font-family: var(--font-family);
        color: white;
        margin-left: 50px;
        font-weight: 700;
        font-size: 15px;
        background-color: #e78456 ;
        padding: 1rem;
        border-radius: 5px;
        border: none;
        text-align: center;
        cursor: pointer;
    }
}
